/* Neon text effect for h1 */
h1.neonText {
   font-family: 'NEONCITY Script', sans-serif;
   font-size: 100px;
   font-weight: normal;
   color: #fff;
   display: flex;
   justify-content: center;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #ff0000,
      0 0 82px #ff0000,
      0 0 92px #ff0000,
      0 0 102px #ff0000,
      0 0 151px #ff0000;
   animation: pulsate 1.5s infinite alternate;
   margin: 0;
}

/* Neon text effect for h2 */
h2.neonText {
   font-family: "Monoton", sans-serif;
   font-size: 100px;
   font-weight: 400;
   font-style: normal;
   color: #fff;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #ff0000,
      0 0 82px #ff0000,
      0 0 92px #ff0000,
      0 0 102px #ff0000,
      0 0 151px #ff0000;
   animation: pulsate 1.5s infinite alternate;
   margin: 0;
}

/* Pulsate animation for neon text effect */
@keyframes pulsate {
   0% {
      text-shadow:
         0 0 2px #fff,
         0 0 4px #fff,
         0 0 6px #fff,
         0 0 10px #ff0000,
         0 0 45px #ff0000,
         0 0 55px #ff0000,
         0 0 70px #ff0000,
         0 0 80px #ff0000;
   }

   100% {
      text-shadow:
         0 0 4px #fff,
         0 0 11px #fff,
         0 0 19px #fff,
         0 0 40px #ff0000,
         0 0 80px #ff0000,
         0 0 90px #ff0000,
         0 0 100px #ff0000,
         0 0 150px #ff0000;
   }
}

/* Subheading styling */
.subheading {
   display: flex;
   justify-content: center;
   color: #ff0000;
}

/* Sticky navigation bar */
nav {
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;
   background-color: white;
   padding: 0;
}

/* Navigation links */
.pageNav {
   font-family: 'Playfair Display', serif;
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   width: 100%;
}

/* Individual navigation link styling */
.pageNav li {
   flex: 1;
   display: inline-block;
}

/* Navigation link styling */
.pageNav a {
   text-decoration: none;
   color: black;
   background-color: white;
   border: 2px solid black;
   padding: 15px 0;
   text-align: center;
   display: block;
   font-weight: bold;
}

/* Hover effect for navigation links */
.pageNav a:hover {
   background-color: black;
   color: white;
}

/* Dropdown menu for Projects */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown menu styling */
.dropdownMenu {
   list-style: none;
   font-family: 'Antonio', sans-serif;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: auto;
   background-color: white;
   border: 2px solid black;
   margin: 0;
   padding: 0;
}

/* Styling for dropdown links */
.dropdownMenu li {
   width: 100%;
}

.dropdownMenu a {
   padding: 10px;
   display: block;
   text-align: center;
   border-bottom: 1px solid black;
}

/* Remove bottom border for last dropdown link */
.dropdownMenu a:last-child {
   border-bottom: none;
}

/* Display dropdown on hover */
.dropdown:hover .dropdownMenu {
   display: block;
}

/* Header section styling */
header {
   background-color: #fad5e6;
   padding: 3em;
   grid-area: header;
   display: grid;
   justify-content: center;
}

/* Projects container layout */
.projects-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
   margin: 0 auto;
   max-width: 1200px;
   padding: 20px;
   justify-content: center;
   grid-template-rows: repeat(3, auto);
}

/* Styling for email form textarea */
.emailForm textarea {
   height: 220px;
   resize: none;
}

/* Footer styling */
footer {
   background-color: #be3b45;
   color: white;
   grid-area: footer;
}

/* Hide elements initially */
.off,
.remove {
   display: none;
}

.pink-container p {
   font-size: 22px;
   /* Increase this size as needed */
}

/* Video container styling */
.VideoContainer {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 66vh;
   /* Adjust height */
}

.VideoContainer iframe {
   width: 560px;
   height: 315px;
   position: absolute;
   z-index: -3;
   transform: translate(0%, -22%);
}

.video-demo .pink-container a {
   text-decoration: none;
   color: black;
}

.video-demo .pink-container a:hover {
   text-decoration: underline;
   color: #ff0000;
}



/* Video styling */
video {
   max-width: 80%;
   /* Adjust the width of the video player */
   height: auto;
   position: absolute;
   z-index: -3;
   transform: translate(-15%, -10%);
   /* Adjusts video position */
}

/* TV image styling */
.tv {
   position: absolute;
   z-index: -2;
   width: 30%;
   height: auto;
   top: 48%;
   /* Adjusts vertical position */
   left: 50%;
   /* Centers horizontally */
   transform: translate(-50%, -50%);
   /* Centers the image */
}

.tv img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}